.ResearchButton {
  background-color: #DDDDDD; /* Light Gray */
  border: 4px solid #444444;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  display: block;
  border-radius: 4px;
  margin: 0 auto;
  width: 100%;
}

.ResearchButton:hover {
  background-color: #BBBBBB; /* Darker Gray */
  border: 4px solid #333333;

}
.ResearchButton:active { /* click */
  background-color: #999999; /* Darker Gray */
  border: 4px solid #222222;
}
.ResearchButton:disabled { /* click */
  background-color: #999999; /* Darker Gray */
  border: 4px solid #222222;
  opacity: 60%;
}

.MiningButton {
  background-color: #DDDDDD; /* Light Gray */
  border: 2px solid #444444;
  color: black;
  padding: 5px 5px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  display: block;
  border-radius: 4px;
  margin: 0 auto;
  width: 100%;
}

.MiningButton:hover {
  background-color: #BBBBBB; /* Darker Gray */
  border: 2px solid #333333;
}

.MiningButton:active { /* click */
  background-color: #999999; /* Darker Gray */
  border: 2px solid #222222;
}

.MiningButton:disabled { /* click */
  background-color: #999999; /* Darker Gray */
  border: 2px solid #222222;
  opacity: 60%;
}

.standardText {
  font-size: 16px;
  color: black;
  display: block;
}

.item1 { grid-area: header;
  width: 1000px
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  color: white;
}
.item2 { grid-area: left;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  transition: 0.3s;
}
.item3 { grid-area: middle;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  transition: 0.3s;
}
.item4 { grid-area: right;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  transition: 0.3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.item5 { grid-area: log;
  width: 1000px;
  height: 144px;
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 16px;
  color: white;
  text-align: left;
  font-size: 16px;
  transition: 0.3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.grid-container {
  max-width: 1000px;
  display: grid;
  grid-template-areas:
    'header header header header'
    'log log log log'
    'left middle right right'
    'left middle right right';
  grid-gap: 0px;
  background-color: gray;
  padding: 30px 30px;
  transition: 0.3s;
}


.error-text {
  color: red;

}

.item6 { grid-area: log;
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 16px;
  color: white;
  text-align: left;
  font-size: 16px;
  transition: 0.3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
